lib.content_from_page3 = COA
lib.content_from_page3 {
    10 = CONTENT
    10 {
        table = tt_content
        select.where = colPos = 0
        select.pidInList = 48
    }
}
lib.content_from_page4 = COA
lib.content_from_page4 {
    10 = CONTENT
    10 {
        table = tt_content
        select.where = colPos = 0
        select.pidInList = 52
    }
}

<f:cObject typoscriptObjectPath="lib.content_from_page3" />

<f:cObject typoscriptObjectPath="lib.content_from_page4" /> 
